{% extends 'base.html' %} {% block title %} Welcome to the about page {%
endblock%} {% block body %}
<main class="container">
  <h1>More about me!</h1>
  <p>
    Hi! I'm Baylie Schnieder, I am currently studying Business Analytics and
    Information Systems at the University of Iowa. I am from Johnston, Iowa--a
    suburb of Des Moines, Iowa. I've lived here my whole life, except I was born
    in Silvis, Illinois and lived there when I was baby. Most of my family is
    from Silvis or as many would say the greater Quad Cities area. So I often go
    there for holidays, birthdays and trips visiting my family.
  </p>
  <h2>I love going to concerts!</h2>
  <p>
    I am an avid concert goer; I have been to tons of concerts in the last
    couple years of my life. I have never disliked a concert. I've been to
    Lollapalooza 3 times now and this summer I won VIP for one day! It was a
    great experience, and I wanted to show a picture from that day.
  </p>
</main>
{% endblock %}
